<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs%>
  </head>
  <body>
    <h1>Admin Dashboard</h1>
    <a href="/admin/new">Add new Employee</a>
    <h2>List of Employees</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">No.</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Leave Balance</th>
              <th scope="col">No. of days Taken</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <%for (let i=0; i<employees.length; i++) {%>
                <tr>
                    <td><%=i+1%></td>
                    <td><%=employees[i].firstName%></td>
                    <td><%=employees[i].lastName%></td>
                    <td><%=employees[i].leaveBalance%></td>
                    <td>
                      <%=leaveTaken[0].numberOfDays%>
                      <!-- <%for (let j=0; j<leaveTaken.length; j++) {%>
                        <%if (employees[i]._id === leaveTaken[j]._id.employeeId) {%>
                          <%=leaveTaken[j].numberOfDays%>
                        <%}%>
                      <%}%> -->
                    </td>
                    <td>
                        <form action="/admin/<%=employees[i]._id%>">
                            <input type="submit" value="VIEW DETAILS">
                        </form>
                    </td>
                    <td>
                        <form action="/admin/<%=employees[i]._id%>?_method=DELETE" method="POST">
                            <input type="submit" value="DELETE">
                        </form>
                    </td>
                </tr>        
            <%}%>
        </tbody>
    </table>
    <h2>Leave Application Overview</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">No.</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Number of Days</th>
              <th scope="col">Approval Status</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
          <%for (i=0; i<leave.length; i++) {%>
            <tr>
                <td><%=i+1%></td>
                <td><%=leave[i].employeeId.firstName%></td>
                <td><%=leave[i].employeeId.lastName%></td>
                <td><%=(leave[i].startDate).getDate() + '-' + ((leave[i].startDate).getMonth() + 1) + '-' + (leave[i].startDate).getFullYear()%></td>
                <td><%=(leave[i].endDate).getDate() + '-' + ((leave[i].endDate).getMonth() + 1) + '-' + (leave[i].endDate).getFullYear()%></td>
                <td><%=leave[i].numberOfDays%></td>
                <td><%=leave[i].approvalStatus%></td>
                <td>
                    <form action="/admin/<%=leave[i]._id%>/leave">
                      <input type="submit" value="VIEW DETAILS">
                    </form>
                  </td>
                <td>
                  <form action="/admin/approve/<%=leave[i]._id%>?_method=PUT" method="POST">
                    <input type="submit" value="APPROVE">
                  </form>
                </td>
                <td>
                    <form action="/admin/reject/<%=leave[i]._id%>?_method=PUT" method="POST">
                      <input type="submit" value="REJECT">
                    </form>
                </td>
            </tr>        
          <%}%>
        </tbody>
    </table>
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Logout"/>
    </form>
  </body>
</html>
