<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head.ejs%>
  </head>
  <body>
    <h1>Apply for Leave</h1>
    <h2>Welcome <%=employee.firstName%> <%=employee.lastName%>!</h2>
    <form action="/user/<%=employee._id%>" method="POST">
      Start Date:
      <input type="date" name="startDate" /><br />
      End Date:
      <input type="date" name="endDate" /><br />
      Number of Days: <input type="number" name="numberOfDays" /><br />
      Reason: <input type="text" name="reason" /><br />
      <input type="hidden" name="employeeId" value="<%=employee._id%>" />
      <a href="/user/<%=employee._id%>">Return to User Dashboard</a><br />
      <input type="hidden" name="approvalStatus" value="Pending Approval" />
      <input type="submit" value="Apply for leave" />
    </form>
  </body>
</html>
